@import url("observablehq:default.css");
@import url("observablehq:theme-midnight.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Manrope:wght@200..800&display=swap');

:root {
  --monospace: "Fira Code", monospace;
  --monospace-font: 12px/1.5 var(--monospace);
  --serif: "Manrope", sans-serif;
  --sans-serif: "Manrope", sans-serif;
  --theme-background: #142933;
  --theme-background-alt: #0B1A1F;
  --theme-foreground-faintest: #283d46;
  --theme-foreground-focus: white;
}

body {
  font: 14pt var(--serif);
  margin: 0;
}

pre,
code,
tt {
  font-family: var(--monospace);
  font-size: 14pt;
}

h1 {
  width: 100%;
}